<h1>Dashboard</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Number of Products</th>
      <th>Number of categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">
        <%= @products %>
      </td>
      <td>
        <%= @categories %>
      </td>
    </tr>
  </tbody>
</table>